<%= form_for @staff, :html => { :class => "form-horizontal staff" } do |f| %>

    <% if @staff.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @staff.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :staff_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :staff_id, :class => 'form-control' %>
    </div>
    <%= error_span(@staff[:staff_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :staff_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :staff_name, :class => 'form-control' %>
    </div>
    <%= error_span(@staff[:staff_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :staff_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :staff_email, :class => 'form-control' %>
    </div>
    <%= error_span(@staff[:staff_email]) %>
  </div>
  <div class="control-group">
    <%= f.label :staff_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :staff_phone, :class => 'form-control' %>
    </div>
    <%= error_span(@staff[:staff_phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :sc_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sc_id, :class => 'form-control' %>
    </div>
    <%= error_span(@staff[:sc_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            staffs_path, :class => 'btn btn-default' %>

<% end %>
