<%= form_for @sport, :html => { :class => "form-horizontal sport" } do |f| %>

    <% if @sport.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :sports_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sports_id, :class => 'form-control' %>
    </div>
    <%= error_span(@sport[:sports_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :sports_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sports_name, :class => 'form-control' %>
    </div>
    <%= error_span(@sport[:sports_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            sports_path, :class => 'btn btn-default' %>

<% end %>
